<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate</title>
    <script>
    function request() {
      var x = document.getElementById("n").value;
      const requestURL = "http://127.0.0.1:8000/calculate/";
      const xhr = new XMLHttpRequest();
      xhr.open("POST", requestURL);
      xhr.responseType = "json";
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(JSON.stringify({"input_value": x}));
      xhr.onload = () => {
        console.log(xhr.response);
        document.getElementById("result").innerHTML = "result: " + xhr.response.output_value;
      }
	}
    </script>
</head>
<body>
  <input type="text" id="n"><br><br>
  <button onclick="request()">Send</button><br>

  <h4 id="result">result: </h4>
</body>
</html>