<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlackList</title>
    <script>
    function get() {
      var id = document.getElementById("get_id").value;
      const requestURL = "http://192.168.99.100:8000/api/blacklist/?id=" + id;
      const xhr = new XMLHttpRequest();
      xhr.open("GET", requestURL);
      xhr.responseType = "json";
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send();
      xhr.onload = () => {
        console.log(xhr.response);
        document.getElementById("result").innerHTML = "result: " + xhr.response.name + " " + xhr.response.last_name + " " + xhr.response.phone_number;
      }
    }

     function post() {
      var id = document.getElementById("update_id").value;
      var first_name = document.getElementById("update_first_name").value;
      var last_name = document.getElementById("update_last_name").value;
      var phone_number = document.getElementById("update_phone").value;
      const requestURL = "http://192.168.99.100:8000/api/blacklist/";
      const xhr = new XMLHttpRequest();
      xhr.open("POST", requestURL);
      xhr.responseType = "json";
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(JSON.stringify({"id": id, "name": first_name, "last_name": last_name, "phone_number": phone_number}));
      xhr.onload = () => {
        console.log(xhr.status);
      }
    }

     function put() {
      var first_name = document.getElementById("create_first_name").value;
      var last_name = document.getElementById("create_last_name").value;
      var phone_number = document.getElementById("create_phone").value;
      const requestURL = "http://192.168.99.100:8000/api/blacklist/";
      const xhr = new XMLHttpRequest();
      xhr.open("PUT", requestURL);
      xhr.responseType = "json";
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(JSON.stringify({"name": first_name, "last_name": last_name, "phone_number": phone_number}));
      xhr.onload = () => {
        console.log(xhr.status);
      }
    }

      function del() {
      var x = document.getElementById("delete_id").value;
      const requestURL = "http://192.168.99.100:8000/api/blacklist/";
      const xhr = new XMLHttpRequest();
      xhr.open("DELETE", requestURL);
      xhr.responseType = "json";
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(JSON.stringify({"id": x}));
      xhr.onload = () => {
        console.log(xhr.status);
      }
	}
    </script>
    <style>
    #container {
      width: 2000px;
      margin: auto;
	}

    #read {
        width: 250px;
        float: left;
        height: 300px;
    }

    #update {
        width: 250px;
        float: left;
        height: 300px;
    }
    #create {
        width: 250px;
        float: left;
        height: 300px;
    }

    #delete {
        width: 100px;
        float: left;
        height: 300px;
    }
    </style>

</head>
<body>
  <div id="container">
    <div id="read">
      <input type="text" id="get_id"><br><br>
      <button onclick="get()">Read</button><br>
      <h4 id="result">result: </h4>
    </div>

    <div id="update">
        <text>Id: </text><br><input type="text" id="update_id"><br><br>
      <text>First name: </text><br><input type="text" id="update_first_name"><br><br>
      <text>Last name: </text><br><input type="text" id="update_last_name"><br><br>
      <text>Phone number: </text><br><input type="text" id="update_phone"><br><br>
      <button onclick="post()">Update</button><br>
    </div>

    <div id="create">
      <text>First name: </text><br><input type="text" id="create_first_name"><br><br>
      <text>Last name: </text><br><input type="text" id="create_last_name"><br><br>
      <text>Phone number: </text><br><input type="text" id="create_phone"><br><br>
      <button onclick="put()">Create</button><br>
    </div>

    <div id="delete">
      <input type="text" id="delete_id"><br><br>
      <button onclick="del()">Delete</button><br>
    </div>

  </div>

</body>
</html>